@using WebApplicationMVCIntroduction.Models;

@{
    ViewBag.Title = "List";
}

@{ int listNumber = 0;}
<h2>All Students</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>List Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Birth Date</th>
        <th>Task 1</th>
        <th>Task 2</th>
    </tr>

    @foreach (Student item in Model)
    {
        <tr>
            <td>@(++listNumber)</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.BirthDate.ToString("dd.MM.yyyy")</td>
            <td>
                @*<a href="Update/@item.Id" class="btn btn-warning">Update</a>*@
                @Html.ActionLink("Update", "Update", "Student", new { id = item.Id }, new { @class = "btn btn-warning" })
            </td>
            <td>
                @*<a href="Delete/@item.Id" class="btn btn-danger">Delete</a>*@
                @Html.ActionLink("Delete", "Delete", "Student", new { id = item.Id }, new { @class = "btn btn-danger" })
                <input type="button" value="Delete" class="btn btn-primary" onclick="DeleteConfirm(@item.Id)" />

            </td>
        </tr>
    }

</table>

<br />

<a href="/Student/Add" class="btn btn-success">Add New Students</a>

<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    function DeleteConfirm(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                type: "Post",
                url: "/Student/DeleteConfirm/" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    alert("Deleted");
                    window.location.href = "/Student/List";
                },
                error: function () {
                    alert("Unexpected error. Content has not been deleted!");
                    window.location.hre = "/Student/List";
                }
            });
        }
    }
</script>